{% extends "blog/base.html" %}

{% block title %} <title>Contact page</title>{% endblock %}

{% block nav %}{% endblock %}

{% block body %}

<!-- START PAGE SOURCE -->
<div id="header">
  <div class="shell">
    <div id="logo-holder">
      <h1 id="logo"><a href="#">My Blog</a></h1>
      <!-- <p id="quote">Some Text</p> -->
    </div>
    <div id="navigation">
      <ul>
        <li><a href="#"><span>Home</span></a></li>
        <li><a href="#"><span>About Us</span></a></li>
        <li><a href="#"><span>Services</span></a></li>
        <li><a href="#"><span>Solutions</span></a></li>
        <li><a href="#"><span>Support</span></a></li>
        <li><a href="#"><span>Partners</span></a></li>
        <li><a href="#" class="active"><span>Contact</span></a></li>
      </ul>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
</div>
<div id="content">
<div class="container" id="wrowblock-765_1" >
<div class="row" id="wrowblock-765_2" >
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 wg-area-2c" id="wrowblock-765_3" >
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wg-area-1c" id="wrowblock-765_4" >
</div>
</div>
</div>
<h2 class="section-head">
Контакты </h2>
<div class="wsw">
<p>Djumataeva, Venera [Director]<br />
<strong>Жуматаева, Венера Сагындык кызы</strong><br />
<strong>(Директор Радио &quot;Азаттык&quot;)</strong><br />
ph: +420 2 2112 2395<br />
email: Djumataevav@rferl.org<br />
email: djumataevav@gmail.com</p>
<p>Asankojoeva, Ainura [Broadcaster]<br />
<strong>Асанкожоева, Айнура Жекше кызы</strong><br />
ph: +420 2 2112 2410<br />
email: asankojoevaa@rferl.org</p>
<p>Ashakeeva, Gulaiym [Broadcaster]<br />
<strong>Ашакеева, Гүлайым</strong> <br />
ph: +420 2 2112 2404<br />
email: ashakeevag@rferl.org</p>
<p>Kasymbekov, Kubat [Broadcaster]<br />
<strong>Касымбеков, Кубат</strong><br />
ph: +420 2 2112 2405<br />
email: kasymbekovk@rferl.org</p>
<p>Kenenbaeva, Eliza [Broadcaster]<br />
<strong>Кененбаева, Элиза</strong><br />
ph: +420 2 2112 2403<br />
email: kenenbaevae@rferl.org</p>
<p>Kulchumanov, Aibek [Multimedia producer]<br />
<strong>Кулчуманов, Айбек</strong></p>
<p>ph: +420 2 2112 2424<br />
email: kulchumanova@rferl.org</p>
<p>Rakhmankluov, Kasym [Social мedia producer]<br />
<strong>Рахманкулов, Касым</strong></p>
<p>ph: +420 2 2112 2407<br />
email: rakhmankulovk@rferl.org</p>
<p>Joldoshev, Kubanych [ Broadcaster ]<br />
<strong>Жолдошев, Кубаныч</strong><br />
ph: +420 2 2112 2411<br />
email: joldoshevk@rferl.org</p>
<p><strong>Бишкекское бюро (&quot;Азаттык Медиа&quot; институт):</strong><br />
<br />
Kasmalieva, Aizada [Director of Bishkek Bureau (Azattyk Media institution)]<br />
<strong>Касмалиева, Айзада (Директор бишкекского бюро “Азаттык Медиа” институт) </strong><br />
ph: +996 312 21 94 30<br />
fax: +996 312 21 94 27<br />
email: kasmalievaa<a class="wsw__a" href="mailto:JumagulovS@bureaumail.rferl.org">@rferl.org</a></p>
<p>Web editors of Azattyk ünalgysy<br />
<strong>Интернет редакторы Радио “Азаттык”</strong> <br />
ph: +996 312 21 94 23<br />
fax: +996 312 21 94 27</p>
<p>email: webeditor@rferl.org</p>
<p>Facebook: <a class="wsw__a" href="https://www.facebook.com/Azattyk-Media-220634991334437/" target="_blank">Azattyk Media</a></p>
<p>YouTube: <a class="wsw__a" href="http://www.youtube.com/user/AzattykUnalgysy" target="_blank">AzattykUnalgysy</a></p>
<p>Twitter: <a class="wsw__a" href="http://twitter.com/AzattykMedia" target="_blank">AzattykMedia</a></p>
<p>Azattyk Plus Youth Team<br />
<strong>Молодежная группа “Азаттык+”</strong><br />
ph: +996 312 21 94 24, 21 94 23<br />
email: azattyk@rferl.org</p>
<p>Calling to &quot;Voice of People&quot; program<br />
<strong>Звоните в программу &quot;Глас народа&quot; (“Эл үнү”)</strong><br />
ph: +996 312 21 94 24, 21 94 23<br />
email: azattyk@rferl.org</p>
<p> </p> </div>
</div>
</div>
</div>
</div>
<div class="footer">
  <div class="shell">
    <p class="lf">Copyright &copy; 2021 <a href="#">My Blog</a> - All Rights Reserved</p>
    <!-- <p class="rf"><a href="http://www.free-css.com/" target="_blank">Free CSS Templates</a> by <a href="http://www.websitecsstemplates.com/" target="_blank">WebsiteCSSTemplates</a></p> -->
    <div style="clear:both;"></div>
  </div>
</div>

{% endblock %}

{% block footer %}{% endblock %}