{% extends "blog/base.html" %}

{% block title %} <title>Contact page</title> {% endblock %}

{% block body %}

<!-- START PAGE SOURCE -->
<div id="content">
<h2 class="section-head">
Контакты </h2>
<div class="wsw">
<p>Djumataeva, Venera [Director]<br />
<strong>Жуматаева, Венера Сагындык кызы</strong><br />
<strong>(Директор Радио &quot;Азаттык&quot;)</strong><br />
ph: +420 2 2112 2395<br />
email: Djumataevav@rferl.org<br />
email: djumataevav@gmail.com</p>
<p>Asankojoeva, Ainura [Broadcaster]<br />
<strong>Асанкожоева, Айнура Жекше кызы</strong><br />
ph: +420 2 2112 2410<br />
email: asankojoevaa@rferl.org</p>
<p>Ashakeeva, Gulaiym [Broadcaster]<br />
<strong>Ашакеева, Гүлайым</strong> <br />
ph: +420 2 2112 2404<br />
email: ashakeevag@rferl.org</p>
<p>Kasymbekov, Kubat [Broadcaster]<br />
<strong>Касымбеков, Кубат</strong><br />
ph: +420 2 2112 2405<br />
email: kasymbekovk@rferl.org</p>
<p>Kenenbaeva, Eliza [Broadcaster]<br />
<strong>Кененбаева, Элиза</strong><br />
ph: +420 2 2112 2403<br />
email: kenenbaevae@rferl.org</p>
<p>Kulchumanov, Aibek [Multimedia producer]<br />
<strong>Кулчуманов, Айбек</strong></p>
<p>ph: +420 2 2112 2424<br />
email: kulchumanova@rferl.org</p>
<p>Rakhmankluov, Kasym [Social мedia producer]<br />
<strong>Рахманкулов, Касым</strong></p>
<p>ph: +420 2 2112 2407<br />
email: rakhmankulovk@rferl.org</p>
<p>Joldoshev, Kubanych [ Broadcaster ]<br />
<strong>Жолдошев, Кубаныч</strong><br />
ph: +420 2 2112 2411<br />
email: joldoshevk@rferl.org</p>
<p><strong>Бишкекское бюро (&quot;Азаттык Медиа&quot; институт):</strong><br />
<br />
Kasmalieva, Aizada [Director of Bishkek Bureau (Azattyk Media institution)]<br />
<strong>Касмалиева, Айзада (Директор бишкекского бюро “Азаттык Медиа” институт) </strong><br />
ph: +996 312 21 94 30<br />
fax: +996 312 21 94 27<br />
email: kasmalievaa<a class="wsw__a" href="mailto:JumagulovS@bureaumail.rferl.org">@rferl.org</a></p>
<p>Web editors of Azattyk ünalgysy<br />
<strong>Интернет редакторы Радио “Азаттык”</strong> <br />
ph: +996 312 21 94 23<br />
fax: +996 312 21 94 27</p>
<p>email: webeditor@rferl.org</p>
<p>Facebook: <a class="wsw__a" href="https://www.facebook.com/Azattyk-Media-220634991334437/" target="_blank">Azattyk Media</a></p>
<p>YouTube: <a class="wsw__a" href="http://www.youtube.com/user/AzattykUnalgysy" target="_blank">AzattykUnalgysy</a></p>
<p>Twitter: <a class="wsw__a" href="http://twitter.com/AzattykMedia" target="_blank">AzattykMedia</a></p>
<p>Azattyk Plus Youth Team<br />
<strong>Молодежная группа “Азаттык+”</strong><br />
ph: +996 312 21 94 24, 21 94 23<br />
email: azattyk@rferl.org</p>
<p>Calling to &quot;Voice of People&quot; program<br />
<strong>Звоните в программу &quot;Глас народа&quot; (“Эл үнү”)</strong><br />
ph: +996 312 21 94 24, 21 94 23<br />
email: azattyk@rferl.org</p>
<p> </p> </div>
</div>
</div>
</div>
</div>

{% endblock %}
